.appbox {
    display: flex;
    width: 70vw;
    height: 50vh;
    background-color: rgba(172, 255, 47, 0.705);
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .numbersbox {
        display: flex;
        flex-direction: row;
        border: 3px solid rgba(147, 112, 216, 0.425);
        padding: 1em;
        border-radius: .7em;

        .numbers {
            margin-left: 1em;
        }
    }

    .button {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 2em;
    }
}