@import '../../assets/base';

.startbutton {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: $palette4;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: none;
    border-radius: 3rem;
    padding: 1em;
    position: relative;
    transition: .2s;

    &:hover {
        background-color: $palette4;
        color: #eee;
        bottom: 2%;
    }

    &:active {
        color: $palette3;
    }
}

@media (width < $layout-breakpoint-small ) {
    .startbutton {
        font-size: 1.5em;
    }
}