@import '../../assets/base';

.numberbox {
    display: flex;
    background-color: #ccc;
    height: 2em;
    width: 2em;
    align-items: center;
    justify-content: center;
    margin: .3em;
    border-radius: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
}

@media (width < $layout-breakpoint-small) {
    .numberbox{
        margin: .2em;
        font-size: 2rem;
    }
}